@model PreScripds.UI.Models.DepartmentViewModel
@using PreScripds.UI.Common;
@using PreScripds.Domain;
@using PreScripds.Infrastructure;
@{
    ViewBag.Title = "AddDepartment";
    Layout = "~/Views/Shared/_OpenLayout.cshtml";
}

<div class="col-md-12 blackBg">
    @using (Html.BeginForm("AddDepartment", "Dashboard", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary()<br />
        <h3><span style="color:white;">Department</span><hr /> </h3>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="RoleDesc">Department Name</label>
                    @Html.TextBoxFor(m => m.DepartmentName, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="RoleDesc">Department Description</label>
                    @Html.TextAreaFor(m => m.DepartmentDescription, new { @class = "form-control" })
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12 buttons">
                <button type="submit" class="btn btn-warning pull-right" value="Save">Save</button>

                <button type="reset" class="btn btn-warning pull-right" value="Clear">Clear</button>

                @if (Model.DepartmentViewModels.IsCollectionValid())
                {
                    <button type="submit" name="buttonType" class="btn btn-warning pull-right" value="Next">Next</button>
                }

            </div>
        </div>
        @Html.MessageDialogRedirect(Model.Message, "AddDepartment", "Dashboard", true)
    }
    @if (Model.DepartmentViewModels.IsCollectionValid())
    {
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th> Department Name</th>
                        <th> Department Description</th>
                        <th> Active</th>
                    </tr>
                </thead>
                @for (int i = 0; i < Model.DepartmentViewModels.Count; i++)
                {
                    <tbody>
                        <tr>
                            <td>
                                <div class="ellipsis-div" title="@Model.DepartmentViewModels[i].Id">
                                    @Html.TextBoxFor(m => m.DepartmentViewModels[i].Id, new { @disabled = "disabled" })
                                </div>
                            </td>
                            <td>
                                <div class="ellipsis-div" title="@Model.DepartmentViewModels[i].DepartmentName">
                                    @Html.TextBoxFor(m => m.DepartmentViewModels[i].DepartmentName, new { @disabled = "disabled" })
                                </div>
                            </td>
                            <td>
                                <div class="ellipsis-div" title="@Model.DepartmentViewModels[i].DepartmentDescription">
                                    @Html.TextBoxFor(m => m.DepartmentViewModels[i].DepartmentDescription, new { @disabled = "disabled" })
                                </div>
                            </td>
                            <td>
                                @Html.CheckBoxFor(m => m.DepartmentViewModels[i].IsActive, new { data_id = Model.DepartmentViewModels[i].Id, @class = "chkActive" })
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    }

</div>
@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.chkActive').on('click', function () {
                var res = $(this).is(":checked");
                //ajaxPost('/Dashboard/UserApprovals', { id: userId, isActive: status }, null);
            });
            @Html.Iff(Model.CreationSuccessful, Html.Raw("$('#success-modal').modal('show');"))

        });

    </script>
}
