@using PreScripds.UI.Common;
@using PreScripds.Domain;
@model PreScripds.UI.Models.RoleViewModel
@{
    ViewBag.Title = "AddRole";
    Layout = "~/Views/Shared/_OpenLayout.cshtml";
}
@using (Html.BeginForm("AddRole", "Dashboard", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-12 blackBg">
        @Html.ValidationSummary()<br />
        <h3><span style="color:white;">Add Role</span><hr /> </h3>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="RoleName">Department</label>
                    @Html.DropDownListFor(m => m.DepartmentId, Model.Department.ToSelectListItems(model => model.DepartmentId.ToString(), model => model.DepartmentName), "--Select--", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="RoleName">User Role Name</label>
                    @Html.TextBoxFor(m => m.RoleName, new { @class = "form-control" })
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="RoleDesc">User Role Description</label>
                    @Html.TextAreaFor(m => m.RoleDesc, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <h4><span style="color:white;">Permission</span><hr /> </h4>
        @for (int i = 0; i <= Model.Permission.Count - 1; i++)
        {
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    @Html.RadioButtonFor(m => m.IsPermissionCheckd, "false", new { @class = "checkPerm", id = string.Format("checkPerm" + i), title = Model.Permission[i].PermissionDesc, data_permid = Model.Permission[i].PermissionId }) <span style="color:white;">@Model.Permission[i].PermissionName</span>

                </div>
            </div>
        }
        @Html.TextBoxFor(m => m.SelectedPermission, new { @class = "hidden" })
        <div class="row">
            <div class="col-md-12 buttons">
                <button type="submit" class="btn btn-warning pull-right" value="Save">Save</button>

                <button type="reset" class="btn btn-warning pull-right" value="Clear">Clear</button>
            </div>
        </div>
        @Html.MessageDialogRedirect(Model.Message, "Index", "Dashboard", true)
    </div>
}
@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            var permissionId = $('.checkPerm:checked').data('permid');
            $('#SelectedPermission').val(permissionId);
            $('.checkPerm').on('click', function () {
                var permVal = $(this).data('permid');
                $('#SelectedPermission').val(permVal);
            });

            @Html.Iff(Model.CreationSuccessful, Html.Raw("$('#success-modal').modal('show');"))
        });

    </script>
}
