@{
    ViewBag.Title = "Approvals";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="whiteBg">
    @*<h3><span style="color:black;">Approvals</span><hr /> </h3>*@
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" >
                        User Approvals
                    </a><i class="indicator glyphicon glyphicon-user  pull-right"></i>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th> User Name</th>
                                    <th> Role</th>
                                    <th> Approved</th>
                                </tr>
                            </thead>
                            @*@for (int i = 0; i < Model.RoleViewModels.Count; i++)
                                {
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="ellipsis-div" title="@Model.RoleViewModels[i].RoleId">
                                                    @Html.TextBoxFor(m => m.RoleViewModels[i].RoleId)
                                                </div>
                                            </td>
                                            <td>
                                                <div class="ellipsis-div" title="@Model.RoleViewModels[i].RoleName">
                                                    @Html.TextBoxFor(m => m.RoleViewModels[i].RoleName)
                                                </div>
                                            </td>
                                            <td>
                                                <div class="ellipsis-div" title="@Model.RoleViewModels[i].RoleDesc">
                                                    @Html.TextBoxFor(m => m.RoleViewModels[i].RoleDesc)
                                                </div>
                                            </td>
                                            <td>
                                                @Html.CheckBoxFor(m => m.RoleViewModels[i].IsActive, new { data_id = Model.RoleViewModels[i].RoleId })
                                            </td>
                                        </tr>
                                    </tbody>
                                }*@
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            //$('#accordion').on('click', function () {
            //    alert("accordion clicked.");
            //    var hasClas = $('#collapseOne').hasClass('in');
            //    alert(hasClas);
            //    if (hasClas) {
            //        $('#collapseOne').removeClass('in');
            //    } else {
            //        $('#collapseOne').addClass('in');
            //    }

            //});

        });

    </script>
}