@{
    ViewBag.Title = "Department-Module";
    Layout = "~/Views/Shared/_OpenLayout.cshtml";
}

<div class="col-md-12 blackBg">
    @using (Html.BeginForm("Permission", "Dashboard", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary()<br />
        <h3><span style="color:white;">Department-Module</span><hr /> </h3>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="RoleName">Department</label>
                    @Html.TextBoxFor(m => m.RoleName, new { @class = "form-control" })
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="RoleDesc">Module</label>
                    @Html.TextAreaFor(m => m.RoleDesc, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 buttons">
                <button type="submit" class="btn btn-warning pull-right" value="Save">Save</button>

                <button type="reset" class="btn btn-warning pull-right" value="Clear">Clear</button>

                @if (Model.RoleViewModels.IsCollectionValid())
                {
                    <button type="submit" name="buttonType" class="btn btn-warning pull-right" value="Next">Next</button>
                }
            </div>
        </div>
        @Html.MessageDialogRedirect(Model.Message, "AddRole", "Dashboard", true)
    }
    @if (Model.RoleViewModels.IsCollectionValid())
    {
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th> Role Name</th>
                        <th> Role Description</th>
                        <th> Active</th>
                    </tr>
                </thead>
                @for (int i = 0; i < Model.RoleViewModels.Count; i++)
                {
                    <tbody>
                        <tr>
                            <td>
                                <div class="ellipsis-div" title="@Model.RoleViewModels[i].RoleId">
                                    @Html.TextBoxFor(m => m.RoleViewModels[i].RoleId)
                                </div>
                            </td>
                            <td>
                                <div class="ellipsis-div" title="@Model.RoleViewModels[i].RoleName">
                                    @Html.TextBoxFor(m => m.RoleViewModels[i].RoleName)
                                </div>
                            </td>
                            <td>
                                <div class="ellipsis-div" title="@Model.RoleViewModels[i].RoleDesc">
                                    @Html.TextBoxFor(m => m.RoleViewModels[i].RoleDesc)
                                </div>
                            </td>
                            <td>
                                @Html.CheckBoxFor(m => m.RoleViewModels[i].IsActive, new { data_id = Model.RoleViewModels[i].RoleId })
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    }

</div>

