@model PreScripds.UI.Models.ModuleInDepartmentViewModel
@using PreScripds.UI.Common;
@using PreScripds.Domain;
@using PreScripds.Infrastructure;
@{
    ViewBag.Title = "Department-Module";
    Layout = "~/Views/Shared/_OpenLayout.cshtml";
}

<div class="col-md-12 blackBg">
    @using (Html.BeginForm("ModuleInDepartment", "Dashboard", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary()<br />
        <div class="validation-summary-errors" style="display:none" id="emailExistsDiv">
            <ul>
                <li class="success" id="userNameExists">
                </li>
            </ul>
        </div>
        <h3><span style="color:white;">Department-Module</span><hr /> </h3>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="RoleName">Department</label>
                    @Html.DropDownListFor(x => x.DepartmentId, Model.Department.ToSelectListItems(model => model.Id.ToString(), model => model.DepartmentName), new { @class = "form-control" })


                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="RoleName">Module</label>
                    <div class="list-group">
                        @Html.ListBoxFor(x => x.Modules, Model.ModuleVm.ToSelectListItems(model => model.Id.ToString(), model => model.ModuleName), new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 buttons">
                <button type="submit" class="btn btn-warning pull-right" value="Save">Save</button>

                <button type="submit" class="btn btn-warning pull-right" value="Add">Add New Module</button>

                @*@if (Model.RoleViewModels.IsCollectionValid())
                    {
                        <button type="submit" name="buttonType" class="btn btn-warning pull-right" value="Next">Next</button>
                    }*@
            </div>
        </div>
        @Html.MessageDialogRedirect(Model.Message, "AddPermission", "Dashboard", true)
    }

</div>
@section Scripts {

    <script type="text/javascript">
        $(document).ready(function (departmentId) {
            var getModules = function () {
                ajaxPost('/Dashboard/GetModules', { departmentId: departmentId }, function (res) {
                    if (res.length > 0) {
                        for (i = 0 ; i < res.length; i++) {
                            //$('#Modules').empty();
                            $('#Modules').append('<option value="' + res[i].Id + '">' + res[i].ModuleName + '</option>');
                        }

                    }
                    else {
                        $('#userNameExists').html('<p> Please contact us for module implementation.</p>');
                    }
                });
            }

            var departmentId = $('#DepartmentId').val();
            //  alert(departmentId);
            if (departmentId != 0) {
                getModules(departmentId);
                $('#DepartmentId').on('change', function () {
                    //TODO: ajax call to get list of modules for this dept.
                    $('#Modules').empty();
                    departmentId = $(this).val();
                    getModules(departmentId);
                });
            }

            @Html.Iff(Model.CreationSuccessful, Html.Raw("$('#success-modal').modal('show');"))
        });

    </script>
}
