@model PreScripds.UI.Models.OrganizationDocumentViewModel
@using ImageResizer;
@using PreScripds.UI.Common;
@{
    ViewBag.Title = "OrganizationDocs";
    Layout = "~/Views/Shared/_OpenLayout.cshtml";
    var baseCntrlr = new PreScripds.UI.Controllers.BaseController();
}

<main class="wrap group">
    @*<aside class="sidebar" style="border-radius:7%">
            <div class="my-info">
                <img src="images/cj.jpg" alt="Chris Johnson" class="portfolio-image">
                <h1>Organization Name</h1>
                <h2>Organization Address</h2>
            </div>
        </aside>*@
    <div class="blackBg" style="width:100%;padding:3%;">

        @*<h4><span>Please upload your organization documents registered under Government Of India.</span><hr /> </h4>*@
        @using (Html.BeginForm("AddOrgDoc", "Dashboard", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            <div>
                @Html.Partial("Partials/_OrganizationDocuments")
            </div>

        }

    </div>

    <div class="content">

        @for (int i = 0; i < Model.OrganizationDocumentViewModels.Count; i++)
        {
            <div class="portfolio-item group @Html.Iff(i == 0, "first","")">
                <div class="portfolio-info">
                    <div class="date">@Model.OrganizationDocumentViewModels[i].CreatedDate</div>
                    <div class="description">
                        @Model.OrganizationDocumentViewModels[i].DocumentDescription
                    </div>
                    <div class="meta">
                        <p><strong>Document Name:</strong> @Model.OrganizationDocumentViewModels[i].OrganizationDocumentName</p>
                        <p>
                            <strong>Action:</strong>
                            <a href="#" class="docDelete" data-id="@Model.OrganizationDocumentViewModels[i].OrganizationDocumentId">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>

                        </p>
                    </div>
                </div>
                <div class="portfolio-image">
                    <div style="width:10%;background-color:whitesmoke">
                        <img src="@Model.OrganizationDocumentViewModels[i].ImagePath" alt="@Model.OrganizationDocumentViewModels[i].OrganizationDocumentName" />
                    </div>
                    @*<img src="@baseCntrlr.EmbedImage(Model.ImagePath)" alt="@Model.OrganizationDocumentName" />*@
                    @*@Html.BuildImage(Model.ImagePath, x => x.Resize(img => img.MaxWidth(600)), Model.OrganizationDocumentViewModels[i].OrganizationDocumentName)*@

                </div>

            </div>
        }
        @*<div class="portfolio-item group first">

                <div class="portfolio-info">
                    <div class="date">7 Nov 2013</div>
                    <div class="description">
                        Free PSD template for startups, small businesses and basically for everyone liking good design.
                    </div>
                    <div class="meta">
                        <p><strong>Document Name:</strong> Despreneur</p>
                        <p><strong>Delete:</strong> Action</p>
                    </div>
                </div>
                <div class="portfolio-image">
                    <img src="images/portfolio/free-psd-templates.jpg" alt="Free PSD Templates">
                </div>
            </div>

            <div class="portfolio-item group">
                <div class="portfolio-info">
                    <div class="date">7 Nov 2013</div>
                    <div class="description">
                        Free PSD template for startups, small businesses and basically for everyone liking good design.
                    </div>
                    <div class="meta">
                        <p><strong>Client:</strong> Despreneur</p>
                        <p><strong>Tags:</strong> Web Design</p>
                    </div>
                </div>
                <div class="portfolio-image">
                    <img src="images/portfolio/new-york.jpg" alt="New York">
                </div>
            </div>*@


        <div class="portfolio-item group loading-wrap" style="display:none">
            <div class="portfolio-info">
            </div>
            <div class="portfolio-image">
                <div class="loading">
                    <img src="~/Images/loading.png" alt="Loading" class="rotate">&nbsp;Loading...
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.docDelete').on("click", function () {
                var id = $(this).data("id");
                alert(id);
                ajaxPost('/Dashboard/DeleteDocs', { id: id }, null);
            });
        });

    </script>
}
<script src="~/Scripts/app.js"></script>
<link href="~/Content/Timeline/style.css" rel="stylesheet" />