@model PreScripds.UI.Models.ForgotPasswordViewModel
@using PreScripds.UI.Common;
@using PreScripds.Infrastructure;
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_OpenLayout.cshtml";
}
<div class="header_top">
    <h2><span>@ViewBag.Title</span></h2>
</div>
<div class="row">
    <div class="col-md-8 blackBg">
        <div class="validation-summary-errors" id="errorMsg">
            <ul>
                <li class="success" id="userNameExists">
                </li>
            </ul>
        </div>
        <section id="loginForm">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()<br />
                if (Model.RecoveryModeViewModels.IsCollectionValid())
                {
                    <div class="form-group">
                        <label>Choose any one of the option below.</label>
                        @foreach (var item in Model.RecoveryModeViewModels)
                        {
                            <div class="col-md-10">
                                @Html.RadioButtonFor(m => m.SelectedName, item.Id, new { @class = "rdbRecovery", data_id = item.Id }) @item.Name
                            </div>
                        }
                    </div>
                }
                <div id="1">
                    <label>Please enter the email address to which the password needs to be sent.</label>
                    @Html.TextBoxFor(m => m.UserInput, new { @class = "form-control" })
                    <input type="submit" value="@Model.RecoveryModeViewModels[0].Name" class="btn btn-success" style="margin-top:1%" name="buttonType" />
                </div>
                <div id="2">
                    <label>Please enter the Mobile number to which the verification code needs to be sent.</label>
                    @Html.TextBoxFor(m => m.UserInput, new { @class = "form-control" })
                    <input type="submit" value="@Model.RecoveryModeViewModels[1].Name" class="btn btn-success" style="margin-top:1%" name="buttonType" />
                </div>
                <div id="3">
                    <label>Please enter the Email Address entered by you at the time of registration.</label>
                    @Html.TextBoxFor(m => m.UserInput, new { @class = "form-control securityCheck" })
                    <input type="button" value="submit" class="btn btn-primary" style="margin-top:1%" name="buttonType" id="btnChckUserInput" />
                    <div id="isSecurityCheckd">
                        <label>Please enter the Security Answer entered by you at the time of registration.</label>
                        @Html.TextBoxFor(m => m.SecurityQuestion, new { @class = "form-control", disabled = "disabled" })
                        @Html.TextBoxFor(m => m.SecurityAnswer, new { @class = "form-control", style = "margin-top:1%" })
                        <!-- TODO: Add Captcha code here-->
                        <input type="submit" value="@Model.RecoveryModeViewModels[2].Name" class="btn btn-success" style="margin-top:1%" name="buttonType" />
                    </div>
                </div>
                <div id="4">
                    <label>Please enter the Alternate email address entered during registration to which the password needs to be sent.</label>
                    @Html.TextBoxFor(m => m.UserInput, new { @class = "form-control" })
                    <input type="submit" value="@Model.RecoveryModeViewModels[3].Name" class="btn btn-success" style="margin-top:1%" name="buttonType" />
                </div>
                <div id="5">
                    <label>Please enter the Alternate Mobile number entered during registration to which the verification code needs to be sent.</label>
                    @Html.TextBoxFor(m => m.UserInput, new { @class = "form-control" })
                    <input type="submit" value="@Model.RecoveryModeViewModels[4].Name" class="btn btn-success" style="margin-top:1%" name="buttonType" />
                </div>

                <p style="margin-top:5%">
                    @Html.ActionLink("Sign Up", "Register", null, new { @class = "registerLink" }) if you don't have an account.
                </p>
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @*@Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })*@
        </section>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#1').hide();
            $('#2').hide();
            $('#3').hide();
            $('#4').hide();
            $('#5').hide();
            $('#errorMsg').hide();
            $('#isSecurityCheckd').hide();
            $('.rdbRecovery').on("click", function () {
                var id = $(this).data("id");
                var value = $(this).val();
                if (id == 1 && value == 1) {
                    $('#2').hide('slow');
                    $('#3').hide('slow');
                    $('#4').hide('slow');
                    $('#5').hide('slow');
                    $('#1').show('slow');
                }
                if (id == 2 && value == 2) {
                    $('#1').hide('slow');
                    $('#3').hide('slow');
                    $('#2').show('slow');
                    $('#4').hide('slow');
                    $('#5').hide('slow');
                }
                if (id == 3 && value == 3) {
                    $('#1').hide('slow');
                    $('#2').hide('slow');
                    $('#3').show('slow');
                    $('#4').hide('slow');
                    $('#5').hide('slow');
                    $('#isSecurityCheckd').hide();
                    $('#btnChckUserInput').show();
                }
                if (id == 4 && value == 4) {
                    $('#1').hide('slow');
                    $('#2').hide('slow');
                    $('#4').show('slow');
                    $('#3').hide('slow');
                    $('#5').hide('slow');
                }
                if (id == 5 && value == 5) {
                    $('#1').hide('slow');
                    $('#2').hide('slow');
                    $('#5').show('slow');
                    $('#3').hide('slow');
                    $('#4').hide('slow');
                }
            });
            $('#btnChckUserInput').on('click', function () {
                var email = $('.securityCheck').val();
                if (email != "") {
                    ajaxPost('/Account/CheckUserEmailExists', { email: email }, function (res) {
                        if (res == "True") {
                            $('#errorMsg').hide();
                            ajaxPost('/Account/GetSecurityQuestion', { email: email }, function (data) {
                                if (data != "") {
                                    $('#SecurityQuestion').val(data);
                                    $('#btnChckUserInput').hide('slow');
                                    $('#isSecurityCheckd').show('slow');
                                }
                            });
                        }
                        else {
                            var errorMessage = "Please enter a valid email.";
                            $('#errorMsg').show('slow');
                            $('#userNameExists').html(errorMessage);
                        }

                    });

                }
                else {
                    var errorMessage = "Please enter a valid email.";
                    $('#errorMsg').show('slow');
                    $('#userNameExists').html(errorMessage);
                }
            });
            $('.securityCheck').on('blur', function () {
                $('#btnChckUserInput').show('slow');
                $('#isSecurityCheckd').hide('slow');
            });
        });

    </script>
}