@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/_OpenLayout.cshtml";
}
<div class="header_top">
    <h2><span>Profile</span></h2>
</div>
@using (Html.BeginForm("UserProfile", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-12 blackBg">

        @Html.ValidationSummary()<br />
        <div class="validation-summary-errors" style="display:none" id="emailExistsDiv">
            <ul>
                <li class="success" id="userNameExists">
                </li>
            </ul>
        </div>

        <h4><span>Personal Details</span><hr /> </h4>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="FirstName">First Name</label>
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="LastName">Last Name</label>
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="MiddleName">Middle Name</label>
                    @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="LastName">Mobile</label>
                    @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="MiddleName">Phone</label>
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="FirstName">Email</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="LastName">Alternate Email</label>
                    @Html.TextBoxFor(m => m.AltEmail, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="MiddleName">Alternate Mobile</label>
                    @Html.TextBoxFor(m => m.AltMobile, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="FirstName">Address</label>
                    @Html.TextAreaFor(m => m.Address, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="LastName">Country</label>
                    @Html.DropDownListFor(m => m.CountryId, Model.Countries.ToSelectListItems(model => model.Id.ToString(), model => model.CountryName), "--Select--", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="MiddleName">State</label>
                    @Html.DropDownListFor(m => m.StateId, Model.States.ToSelectListItems(model => model.Id.ToString(), model => model.StateName), "--Select--", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="FirstName">City</label>
                    @Html.TextBoxFor(m => m.CityName, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="LastName">Zip Code</label>
                    @Html.TextBoxFor(m => m.PinCode, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <hr />
        <h4><span>Login Details</span><hr /> </h4>
        @for (int i = 0; i < Model.userLoginViewModel.Count; i++)
        {
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label class="control-label" for="FirstName">User Name</label>
                        @Html.TextBoxFor(m => m.userLoginViewModel[0].UserName, new { @class = "form-control", autocomplete = "off" })
                    </div>
                </div>
                @Html.ActionLink("Change Password", "ChangePassword")
                @* TODO: Change password partial to be placed here*@
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label class="control-label" for="FirstName">Security Question*</label>
                        @Html.DropDownListFor(m => m.userLoginViewModel[0].SecurityQuestionId, Model.userLoginViewModel[0].SecurityQuestions.ToSelectListItems(model => model.Id.ToString(), model => model.QuestionName), "--Select--", new { @class = "form-control" })
                    </div>
                </div>
                @*TODO: Change Security Answer partial*@
            </div>
        }

        <div class="row">
            <div class="col-md-12 buttons">
                <button type="submit" class="btn btn-warning pull-right" value="Save">Save</button>
            </div>
        </div>
    </div>
    @Html.MessageDialogRedirect(Model.Message, "UserProfile", "Account", true)
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <link href="~/Content/datepicker.css" rel="stylesheet" />
    <script src="~/Scripts/PreScripds.Register.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $(document.body).on('blur', '#recaptcha_response_field', function () {
                var captchaVal = $(this).val();
                $('#CaptchaUserInput').val(captchaVal);
            });
            $(function () {
                $('#datepicker').datepicker();

                $('.day').on('click', function () {
                    $('.datepicker-days').hide();
                });
            });

            //$('#UserType').on('change', function () {
            //    var selectedType = $(this).val();
            //    if (selectedType == 1) {
            //        $('#displayPic').removeAttr('style');
            //        $('#dispPic').html('Logo');
            //    }
            //    else if (selectedType == 2) {
            //        $('#displayPic').removeAttr('style');
            //        $('#dispPic').html('Profile Picture');
            //    }
            //    else {
            //        $('#displayPic').attr('style', 'display:none');
            //    }
            //});
            @Html.Iff(Model.CreationSuccessful, Html.Raw("$('#success-modal').modal('show');"))
        });

    </script>
}
