<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/favicon.ico">
    <title style="color: #1E5530">PreScripds</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                    <a class="navbar-brand" href="@Url.Action("Index")">
                        <img src="~/Images/logo_532279_web.jpg" alt="prescripds" title="prescripds" />
                    </a>
                </div>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#Home" title="Home"><span class="glyphicon glyphicon-home" title="Home"></span></a></li>
                    <li><a href="#About" title="About"><span class="glyphicon glyphicon-cog" title="About"></span></a></li>
                    <li><a href="#Contact" title="About"><span class="glyphicon glyphicon-earphone" title="Contact"></span></a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="Home">
        <div>
            <div>
                <h3>
                    PreScripds - Provides easy access to all your queries.
                </h3>
            </div>
        </div>
    </div>
    <div class="homeAboutbwn">
        <h2>Lorem Ipsum</h2>
    </div>
    <div id="About">
        <div>
            <div>
                <h2>About PreScripds</h2>
            </div>
        </div>
    </div>
    <div class="aboutContactbwn">
        <h2>Lorem Ipsum</h2>
    </div>
    <div id="Contact">
        <div>
            <div>
                <h2>Contact Us for further details</h2>
            </div>
        </div>
    </div>
    <div id="other">
        <div>
            <h2>Lorem Ipsum</h2>
            @RenderBody()
        </div>
    </div>
    @Html.Partial("Partials/_Footer")

    @{ Html.RenderAction("AppSettings", "Base"); }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
@{
    <script type="text/javascript">
        $(document).ready(function () {
            $('a[href*=#]').each(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                && location.hostname == this.hostname
                && this.hash.replace(/#/, '')) {
                    var $targetId = $(this.hash), $targetAnchor = $('[name=' + this.hash.slice(1) + ']');
                    var $target = $targetId.length ? $targetId : $targetAnchor.length ? $targetAnchor : false;
                    if ($target) {
                        var targetOffset = $target.offset().top;
                        $(this).click(function () {
                            $("#nav li a").removeClass("active");
                            $(this).addClass('active');
                            $('html, body').animate({ scrollTop: targetOffset }, 5000);
                            return false;
                        });
                    }
                }
            });

        });
    </script>
}