@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        @*<ul class="nav navbar-nav navbar-right">
            <li>*@

        <a href="@Url.Action("Index","Dashboard")">
            <span title="Dashboard" class="glyphicon glyphicon-dashboard" style="color:#EF6060"></span>
        </a>
        <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                Welcome,  @User.Identity.GetUserName() <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="@Url.Action("UserProfile","Account")">Profile</a></li>
                <li><a href="#">Help</a></li>
                <li class="divider"></li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()" style="color:#EF6060">Sign out</a></li>
            </ul>
        </div>
        @*</li>
            </ul>*@

        @*<ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Welcome " + User.Identity.GetUserName(), "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Profile" })
                </li>
                <li class="logout"><a href="javascript:document.getElementById('logoutForm').submit()">Sign out</a></li>
            </ul>*@

    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    Sign In/Sign Up <span class="glyphicon glyphicon-log-in" title="Login/Register"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink("New User? Sign Up", "Profile", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Already Here? Sign in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
            </div>
        </li>
    </ul>

}
