@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Welcome " + User.Identity.GetUserName(), "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Profile" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Sign out</a></li>
        </ul>
        <a href="@Url.Action("Index","Dashboard")">
            <span title="Dashboard" style="margin-top:7%" class="glyphicon glyphicon-book"></span>
        </a>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    Sign In/Sign Up <span class="glyphicon glyphicon-log-in" title="Login/Register"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink("New User? Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Already Here? Sign in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
            </div>
        </li>
    </ul>

}
