<!DOCTYPE html>
<html>
<head>
    <title>PreScripds</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/favicon.ico">
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="openHtmlBg">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                    <a class="navbar-brand" href="@Url.Action("Index","Home")">
                        <img src="~/Images/logo_532279_web.jpg" alt="prescripds" title="prescripds" />
                    </a>
                </div>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <li><a href="@Url.Action("Index","Home")" title="Home"><span class="glyphicon glyphicon-home" title="Home"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top:7%">
        @RenderBody()
    </div>
    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - PreScripds</p>
            <div class="col-md-4 col-sm-6 footer-links">
                <ul>

                    <li>
                        <a data-toggle="modal" class="opentac" title="Privacy Policy" href="~/Views/Static/PrivacyPolicy.html" data-target="#">Privacy Policy</a>
                    </li>

                    <li class="last">
                        <a data-toggle="modal" title="Terms and Conditions" class="opentac" href="~/Views/Static/TermsConditions.html" data-target="#">Terms and Conditions</a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>